.add-purchase-form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #DDD;
    padding: 10px;
}

.add-purchase-form .field-group {
    flex: 1;
    padding: 10px;
}

.field-group.num {
    flex: 0 0 100px;
}

.add-purchase-form .field-group label {
    display: block;
    margin-bottom: 2px;
}

.add-purchase-form input {
    width: 100%;
    border-radius: 5px;
    border: solid 1px #CCC;
    height: 20px;
    line-height: 20px;
}

.add-purchase-form button {
    flex-grow: 0;
    margin-bottom: 10px;
    margin-left: 15px;
}