.purchase-list {
    width: 100%;
    margin-top: 20px;
    text-align: left;
}

.purchase-list th, .purchase-list td {
    padding: 5px;
}

.purchase-list td.num, .purchase-list th.num {
    text-align: right;
}

.purchase-list th {
    background-color: #32465a;
    color: #FFF;
}

.purchase-list tr:nth-child(even) {background: #EEE}
.purchase-list tr:nth-child(odd) {background: #E2E2E2}