.page-wrapper {
    max-width: 800px;
    margin: 30px auto;
}

button {
    appearance: none;
    font-weight: bold;
    background-color: #5dbfe6;
    color: #FFF;
    border: none;
    padding: 10px;
}